<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>System</display-name>
  <welcome-file-list>
    <welcome-file>page-login.html</welcome-file>
    <welcome-file>page-login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubscribeServlet</servlet-name>
    <servlet-class>servlet.SubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscribeServlet</servlet-name>
    <url-pattern>/servlet/SubscribeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SinaServlet</servlet-name>
    <servlet-class>servlet.SinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SinaServlet</servlet-name>
    <url-pattern>/servlet/SinaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TagCloudServlet</servlet-name>
    <servlet-class>servlet.TagCloudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagCloudServlet</servlet-name>
    <url-pattern>/servlet/TagCloudServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClusterServlet</servlet-name>
    <servlet-class>servlet.ClusterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClusterServlet</servlet-name>
    <url-pattern>/servlet/ClusterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PassResetServlet</servlet-name>
    <servlet-class>servlet.PassResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassResetServlet</servlet-name>
    <url-pattern>/servlet/PassResetServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>WekaServlet</servlet-name>
    <servlet-class>servlet.WekaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WekaServlet</servlet-name>
    <url-pattern>/servlet/WekaServlet</url-pattern>
  </servlet-mapping>
</web-app>